a:link{
    text-decoration: none;
    color:white;
    transition: background-color 0.5s;
}
a:visited {
    text-decoration: none;
    color:white;

}
a:hover {
    text-decoration: underline;
    background-color: #092a5d;
    color: #eeeeee;
}

.navbar-header {
    /*background-color: #F16E10;*/
    margin-left: 35%;
}
